.seance-content__info {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.seance-content__info-title,
.seance-content__info-list,
.seance-content__info-not-auth-warn,
.info-list__item {
    width: 100%;
}

.seance-content__info-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.1em;
    border: 0 solid #565656;
    border-bottom-width: 2px;
    padding: 10px 0;
}

.seance-content__info-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.info-list__item {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0 solid #C8C8C8;
    border-bottom-width: 1px;
    padding: 10px 0;
}

.info-list__item .item-logo {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seance-content__info-not-auth-warn,
.seance-content__info-auth-warn {
    margin: 20px 0;
    padding: 5px;
    text-transform: uppercase;
    color: #565656;
    border: 1px solid #C87A7A;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 3px;
}

.seance-content__info-auth-warn {
    border-color: #57B53D;
}