@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

* {
    font-family: 'Slabo 27px', serif;
}

.width-100 {
    width: 100%;
}

.width-60 {
    width: 60%;
}

.text-upper {
    text-transform: uppercase;
}

ul {
    list-style: none;
}