.user-bar {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    right: 0;
}

.user-bar-item {
    margin: 0 10px;
    color: #565656;
    min-width: 30px;
}