.search-bar {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar-form {
    width: 80%;
    background: var(--sub-bg-color);
    ;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px 10px;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(23, 23, 23, 0.5);
}

.search-bar-form__input,
.search-bar-form__options {
    width: 98%;
    display: flex;
    align-items: center;
    margin: 8px 0;
    justify-content: center
}

.search-bar-form__input input[type="text"] {
    text-transform: uppercase;
    padding: 14px 10px;
    font-family: 'Slabo 27px', serif;
    font-size: 1.1em;
}

.search-bar-form__options-item {
    margin: 0 15px;
}

@media(max-width: 1000px) {
    .search-bar {
        width: 85%;
    }

    .search-bar-form {
        width: 90%;
    }
}

@media(max-width: 700px) {
    .search-bar {
        width: 90%;
    }

    .search-bar-form {
        width: 100%;
    }

    .search-bar-form__options {
        flex-wrap: wrap;
    }
}