.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FAFAFA;
    padding: 5px 10px;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(23,23,23,0.5);
}

.pagination li {
    margin: 5px;
    padding: 8px 12px;
}

.pagination li:hover {
    cursor: pointer;
}

.pagination .active {
    background: #6C9BC7;
    color: #FAFAFA;
    border-radius: 3px; 
}

.pagination .break-me:hover {
    cursor: not-allowed;
}