.cinema-content {
    border-bottom: 1px solid #C8C8C8;
    padding: 10px 0;
    padding-bottom: 20px;
    margin: 10px 0;
}

.cinema-content
.cinema-content-list {
    border-radius: 3px;
    width: 100%;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid var(--main-sub-color);
    padding: 10px;
}
/* if you don't need selector - remove it */
.cinema-content .cinema-content-selected-item {
    
}

.cinema-content .cinema-content-selected-item:hover {
    cursor: pointer;
}

.cinema-content .cinema-content-selected-item,
.cinema-content-list .list-item {
    width: 96%;
    display: flex;
    justify-content: center;
    padding: 5px;
    border-radius: 3px;
}

/* This is a bad code, CSS parsing engine from right-to-left, so this is a bad practice to select a common selector without class(1-if you refactor this to others tags - you should change CSS, if you refactor the structure - you will face with the same problem. Always define class, the only cases for this which is possible is structural dependent tags, e.g.: ul>li>a, dl>dt, table>tr>td, etc. */
.cinema-content .cinema-content-selected-item div,
.cinema-content-list .list-item div {
    flex: 1;
    text-align: center;
}

.cinema-content-list
.list-item:hover {
    cursor: pointer;
}

.list-item.gray, 
.cinema-content .cinema-content-selected-item {
    background: #E7E7E7;
}