.cinema-content {
    border-bottom: 1px solid #C8C8C8;
    padding: 10px 0;
    padding-bottom: 20px;
    margin: 10px 0;
}

.cinema-content
.cinema-content-list {
    border-radius: 3px;
    width: 100%;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid #565656;
    padding: 10px;
}

.cinema-content .cinema-content-selected-item {
    
}

.cinema-content .cinema-content-selected-item:hover {
    cursor: pointer;
}

.cinema-content .cinema-content-selected-item,
.cinema-content-list .list-item {
    width: 96%;
    display: flex;
    justify-content: center;
    padding: 5px;
    border-radius: 3px;
}

.cinema-content .cinema-content-selected-item div,
.cinema-content-list .list-item div {
    flex: 1;
    text-align: center;
}

.cinema-content-list
.list-item:hover {
    cursor: pointer;
}

.list-item.gray, 
.cinema-content .cinema-content-selected-item {
    background: #E7E7E7;
}