.login-register-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position-y: 0%;
    background: linear-gradient(#6C9BC7, #B88D8D);
    animation: GradientBackground 3s infinite linear forwards;
    transition: 3s;
    /* background: linear-gradient(rgba(104,150,193, .9), rgba(184,141,141, .9)) */
}

.default-form {
    padding-bottom: 30px;
    display: flex;
    width: 35%;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background: #FFF;
    border-radius: 3px;
}

.default-form
.default-form-subtitle {
    width: 90%;
    background: #B8B8B8;
    padding: 10px 5px;
    text-transform: uppercase;
    margin: 5px 0;
    border-radius: 3px;
}

.default-form
.default-form-result-content {
    width: 100%;
    padding: 5px 0;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.default-form-result-content.success {
    background: #00B86D;
    color: #FFF;
}

.default-form-result-content.failed {
    background: #B64900;
    color: #FFF;
}

.default-form__title {
    width: 90%;
    font-size: 45px;
    color: #565656;
    font-family: 'Slabo 27px', serif;
    text-align: center;
    margin-bottom: 20px;
}

.default-form__error {
    width: 90%;
    min-height: 10px;
}

@keyframes GradientBackground {
    0% {
        background-position-y: 0%;
    }
    100% {
        background-position-y: 100%;        
    }
}

@media(max-width: 1200px) {
    .default-form {
        width: 50%;
    }
}

@media(max-width: 900px) {
    .default-form {
        width: 60%;
    }
}

@media(max-width: 600px) {
    .default-form {
        width: 75%;
    }
}